{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "semi": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.less"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
